body {
    padding: 0;
    margin: 0;
    background: #2a8bba url("../images/bg.jpg") no-repeat 50% -10%;
}

.remote {
    background: #2a8bba url("../images/bg2.jpg") no-repeat 50% -10% !important;
}

.configuration {
    background: #2a8bba url("../images/bg3.jpg") no-repeat 50% -10% !important;
}

.settings {
    background: #2a8bba url("../images/uverseAdmin.png") no-repeat 0 0;
    background-size: 100% auto;
}

/* loader */
.ouro {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: none repeat scroll 0 0 #2a8aba;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset, 0 0 25px rgba(0, 0, 255, 0.075);
    top: 210px;
    left: 50%;
    margin-left: -30px;
}

.ouro:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    height: 50px;
    width: 50px;
    background: none repeat scroll 0 0 #4daddd;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.ouro > span {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.loaderLeft {
    left: 0
}

.loaderRight {
    left: 50%
}

.loaderAnim {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}

.loaderLeft .loaderAnim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.loaderRight .loaderAnim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
}

.ouro3 .loaderAnim {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.ouro3 .loaderRight .loaderAnim {
    -webkit-animation-name: ui-spinner-rotate-right;
    -webkit-animation-delay: 0.5s;
    animation-name: ui-spinner-rotate-right;
    animation-delay: 0.5s;
}

@keyframes ui-spinner-rotate-right {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes ui-spinner-rotate-left {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes ui-spinner-rotate-right {
    0% {
        -webkit-transform: rotate(0deg)
    }
    25% {
        -webkit-transform: rotate(180deg)
    }
    50% {
        -webkit-transform: rotate(180deg)
    }
    75% {
        -webkit-transform: rotate(360deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes ui-spinner-rotate-left {
    0% {
        -webkit-transform: rotate(0deg)
    }
    25% {
        -webkit-transform: rotate(0deg)
    }
    50% {
        -webkit-transform: rotate(180deg)
    }
    75% {
        -webkit-transform: rotate(180deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

/* loader */

h1, h2 {
    margin: 5px;
}

h3 {
    position: absolute;
    color: #FFF;
    z-index: 100;
    top: -69px;
    left: 168px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 27px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

.black {
    background: #000 !important;
}

#overlay {
    width: 100%;
    height: 210px;
    position: absolute;
    bottom: -280px;
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}

#overlay.open {
    bottom: 0;
}

#overlay .bg {
    background: #067AB4;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

#overlay .program {
    position: absolute;
    color: #FFF;
    left: 100px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    z-index: 100;
    top: 30px;
}

#overlay .title {
    border-top-right-radius: 5px;
    position: absolute;
    top: -50px;
    left: 0;
    width: 600px;
    height: 50px;
    background: #003650;
}

#overlay .arrows {
    background: transparent url("../images/arrows.png") no-repeat 0 0;
    width: 55px;
    height: 68px;
    position: absolute;
    left: 103px;
    top: -70px;
    z-index: 100;
}

.abc, .nick, .food {
    position: absolute;
    background: transparent url("../images/abc.png") no-repeat 0 0;
    width: 150px;
    height: 150px;
    top: 20px;
    left: 20px;
}

.nick {
    background: transparent url("../images/nick.png") no-repeat 0 0;
    height: 109px;
    width: 250px;
}

.food {
    background: transparent url("../images/food.png") no-repeat 0 0;
    width: 150px;
    height: 150px;
}

#wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#banner {
    position: fixed;
    right: 50px;
    top: 50px;
}

#banner .spiral {
    width: 470px;
    height: 470px;
    background: url('../images/spiral.png') center no-repeat;
    z-index: -1;
    -webkit-animation: spiral 20s infinite linear;
    position: fixed;
    top: -90px;
    right: -20px;
}

@-webkit-keyframes spiral {
    from {
        -webkit-transform: rotate(0deg) scale(0.75);
    }
    to {
        -webkit-transform: rotate(360deg) scale(0.75);
    }
}

#banner .bannerContent {
    top: 10px;
}

#banner .discount {
    color: white;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(51, 47, 47, 1);
    text-align: center;
}

#banner .plane {
    background: url('../images/airplane14.png') center no-repeat;
    width: 512px;
    height: 512px;
    float: left;
    -webkit-animation: spiral 20s linear;

}

#banner .phone {
    background: url('../images/phone.png') center no-repeat;
    width: 102px;
    height: 153px;
    position: absolute;
    left: -113px;
    top: 0;
    -webkit-animation: floatIn 1s, tada 2s;
    -webkit-animation-delay: 3s, 3.5s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes floatIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    10%, 20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
    }
}

.element1 {
    -webkit-animation-delay: 2s;
}

.element2 {
    -webkit-animation-delay: 2.5s;
}

.element3 {
    -webkit-animation-delay: 2.8s;
}

#chat {
    position: absolute;
    width: 420px;
    right: 0;
    top: 0;
    height: 100%;
}

#chat .bg, #chat .chatBody {
    position: absolute;
    background: #067AB4;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-box-shadow: -5px 0 50px 0 rgba(0, 0, 0, 0.5);
    box-shadow: -5px 0 50px 0 rgba(0, 0, 0, 0.5);
}

#chat .chatBody {
    opacity: 1;
    background: transparent;
    z-index: 10;
    padding-top: 20px;
}

#chat h1 {
    color: #FFF;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    border-bottom: solid 1px;
    padding-bottom: 20px;
    text-shadow: 0 1px 1px #000000;
}

.content {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 100px;
    bottom: 0;
    right: -15px;
}

#chatContent ul {
    list-style: none;
    margin: 0;
    padding: 35px 5px 0;
}

.line {
    position: relative;
    margin-bottom: 45px;
    margin-right: 40px;
    clear: both;

}

.line.visitor {
    float: right;
}

.line.visitor .bubble {
    background: #2fabe5;
    color: #FFF;
}

.line.system .bubble {
    background: #fdf9b9;
    margin-left: 40px;
    color: #666;
    margin-right: 0;
    font-style: italic;
}

.line.agent .bubble {
    background: #EEEEEE;
    margin-left: 40px;
    margin-right: 0;
}

.line img {
    border-radius: 50%;
    border-color: #008FFF !important;
    width: 60px;
    position: absolute;
    top: -31px;
    right: -31px;
    height: 60px;
    border: solid 1px;
    z-index: 100;
}

.line.agent img, .line.system img {
    left: -31px;
    right: auto;
}

.lineTxt {
    padding: 8px;
    font-family: arial;
    font-size: 20px;
}

.lineTxt div {
    word-wrap: break-word;
}

.bubble {
    min-width: 318px;
    min-height: 60px;
    position: relative;
    max-width: 400px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.segment {
    border: solid 1px #CCC;
    background: #056290;
    width: 35px;
    height: 35px;
    border-right-color: #056290;
    border-top-color: #056290;
    border-radius: 0 0 0 100%;
    position: absolute;
    right: -1px;
    top: -1px;
}

.line.agent .segment, .line.system .segment {
    border-left-color: #056290;
    border-right-color: transparent;
    border-radius: 0 0 100% 0;
    left: -1px;
}

.spacer {
    height: 30px;
    width: 30px;
    float: right;
}

.line.agent .spacer, .line.system .spacer {
    float: left;
}

#partial {
    position: absolute;
    right: 20px;
    top: 20px;
    border: solid 5px #FFF;
    z-index: 1000;
}

#chatBtn{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
}