<!DOCTYPE html>
<html ng-app="uverse">
<head>
    <link href="style/style.css" rel="stylesheet">
    <link href="style/ng-animate.css" rel="stylesheet">
    <link href="style/animate.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.15/angular-sanitize.min.js"></script>
    <script src="http://code.angularjs.org/1.2.15/angular-animate.min.js"></script>
    <script src="js/main.js"></script>
    <title>Uverse Demo</title>
</head>
<body ng-controller="MainCtrl" ng-class="{black:ui.demoStarted}">
<!--loader-->
    <span class="ouro ouro3" ng-show="ui.configure">
        <span class="loaderLeft">
            <span class="loaderAnim"></span>
        </span>
        <span class="loaderRight">
            <span class="loaderAnim"></span>
        </span>
    </span>
<!--loader-->
<div id="wrapper">
    <div ng-show="ui.video.visible" class="{{ui.video.list[ui.video.index].logo}}"></div>
    <div id="overlay" ng-class="{open:ui.info.open}">
        <h3>{{ui.video.list[ui.video.index].channel}}</h3>

        <div class="arrows"></div>
        <div class="program">
            <h1>{{ui.video.list[ui.video.index].title}}</h1>

            <h2>{{ui.video.list[ui.video.index].duration}}</h2>
        </div>
        <div class="bg">
            <div class="title"></div>
        </div>
    </div>
    <div id="banner" ng-show="ui.add.visible">
        <div class="bannerContent">
            <!--<div class="plane"></div>-->
            <img src="images/gm.png" class="fadeInUp animated element1 pulse"/>

            <div class="discount fadeInUp animated element2">SAVE 20%</div>
            <div class="phone"></div>
        </div>
        <div class="spiral"></div>
    </div>

    <div ng-if="ui.chat.visible" id="chat" class="scale-fade-in">
        <div class="chatBody">
            <h1>Live Chat</h1>
            <div class="content" id="chatContent">
                <ul>
                    <li class="line {{line.source}} slide-right" ng-repeat="line in ui.chat.lines">
                        <div class="bubble">
                            <img ng-src="{{getAvatar(line.source)}}">

                            <div class="segment"></div>
                            <div class="lineTxt">
                                <div class="spacer"></div>
                                <div ng-bind-html="line.text"></div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="bg"></div>
    </div>
    <video ng-show="ui.video.visible" id="video" width="100%" height="{{ui.video.height}}"
           ng-src="{{ui.video.list[ui.video.index].src}}" type="video/mp4" autoplay="autoplay">
    </video>
    <video id="partial" width="400" height="225" src="/images/partial_video.mp4" ng-show="ui.video.partial" type="video/mp4"></video>

    <div id="chatBtn" ng-show="ui.settingsBtn" ng-click="settingsChat();$event.stopPropagation()"></div>
</div>
</body>
</html>